<!DOCTYPE html>
<html>
	<head>
		<title>About Page</title>
		<link href="./css/about.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<br>
			<br>
			<br>
			<h2>Pretty colors</h2>
			<br>
			<br>
			<br>
		</div>
	</body>
</html>

