Your Added Movies
<table>
	<tr>
		<th>Title</th>
		<th>Director</th>
		<th>Year</th>
	</tr>
	{{#each movies}}
		<tr>
			<td>{{title}}</td>
			<td>{{director}}</td>
			<td>{{year}}</td>
		</tr>
	{{/each}}
</table>